@import "tailwindcss";

@layer components {
  .gradient-text {
    background: linear-gradient(to right, #6b21a8, #a855f7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
  }

  .bg-pattern {
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    background-repeat: repeat;
    background-color: #6b21a8;
  }
}
